appdirs==1.4.4
arandr==0.1.10
asgiref==3.3.1
astroid==2.5.2
attrs==20.3.0
autopep8==1.5.7
btrfsutil==5.12.1
CacheControl==0.12.6
cassandra-driver==3.25.0
cffi==1.14.5
chardet==4.0.0
click==7.1.2
colorama==0.4.4
configobj==5.1.0.dev0
contextlib2==0.6.0.post1
cryptography==3.4.7
distlib==0.3.1
distro==1.5.0
Django==3.1.7
django-ckeditor==6.0.0
django-js-asset==1.2.2
django-summernote==0.8.11.6
Flask==1.1.2
geomet==0.2.1.post1
html5lib==1.1
idna==3.1
isort==5.8.0
itsdangerous==1.1.0
jellyfish==0.8.2
Jinja2==2.11.3
lazy-object-proxy==1.6.0
lib50==2.0.9
louis==3.17.0
markdown2==2.4.0
MarkupSafe==1.1.1
mccabe==0.6.1
msgpack==1.0.2
ordered-set==4.0.2
packaging==20.9
pep517==0.10.0
pexpect==4.8.0
Pillow==8.1.2
ply==3.11
progress==1.5
psutil==5.8.0
ptyprocess==0.7.0
pycairo==1.20.0
pycodestyle==2.7.0
pycparser==2.20
PyGObject==3.40.1
pylint==2.7.4
pyOpenSSL==20.0.1
pyparsing==2.4.7
pytz==2021.1
PyYAML==5.4.1
requests==2.25.1
resolvelib==0.5.4
retrying==1.3.3
six==1.16.0
sql==0.4.0
sqlparse==0.4.1
submit50==3.0.3
team==1.0
termcolor==1.1.0
terminator==2.1.1
toml==0.10.2
urllib3==1.26.4
validate==5.1.0.dev0
webencodings==0.5.1
Werkzeug==1.0.1
wrapt==1.12.1
youtube-dl==2021.3.14
